body{
    margin: 0%;
    padding: 0%;
    background-color: #232db9ef;
}

p{
    color: aliceblue;
    font-family: "Tangerine", cursive;
}

.counterContainer p, button p{
    font-size: 35px;
}

/* CSS Styling for head element */
.heading{
display: flex;
justify-content: center;
padding: 0%;
margin: 0%;
}

.heading h1{
    font-size: 95px;
    margin: 0%;
    font-family: "Tangerine", cursive;
    color: aliceblue;
}


/* CSS For counter */
.counterContainer{
    display: flex;
    justify-content: right;

}

.counter{
    margin-right: 5%;
}

/* CSS Styling for Dice elements */

.diceContainer{
    display: flex;
    justify-content: center;
}


.dice{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice1{
    margin-right: 5%;
}
.dice p{
    font-size: 55px;
}

img{
    height: 200px;
}

.btn{
    display: flex;
    justify-content: center;
}
button{
    background-color: black;
    padding: 15px;
    border: none;
    padding: none;
    margin-top: 3%;
}

