body{
    background-color: #00000092;
}

p{
    color: aliceblue;
    font-family: "Calligraffitti", 'serif';
}

/* CSS Styling for head element */
.heading{
display: flex;
justify-content: center;

}

.heading h1{
    color: #14c084;
    font-size: 5rem;
    margin: 0%;
    font-family: "Calligraffitti", 'serif';
}


/* CSS For counter */
.counterContainer{
    display: flex;
    justify-content: right;

}

.counter{
    margin-right: 5%;
}

.counter button{
   font-size: 18px;
}

.counter p{
    font-size: 1.25rem;
}

/* CSS Styling for Dice elements */

.diceContainer{
    display: flex;
    justify-content: center;
}


.dice{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice1{
    margin-right: 5%;
}
.dice p{
    font-size: 2.5rem;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
button{
    color: aliceblue;
    font-size: 2rem;
    background-color: #14c084; 
    border: none;
    margin: 0%;
    
}

@media (max-width: 550px)
{
    h1{
        font-size: 2rem;
    }

    img{
        width: 75%;
    }

    .dice p{
        font-size: 1.75rem;
    }

    .btn{
        font-size: 1.5rem;
    }
}